body {
   background-image: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1767&q=80); 
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100vh;
    column-gap: 15px;
    justify-content: space-evenly;
}

.container {
    background-color: rgba(255, 228, 196,.6);
    border: 10px solid rgb(75,75,75);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: 100vh;
    overflow: scroll;
}

#ingmes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

 #ingredients {
    flex: 25%;
    text-align: center;
} 

 #measure {
    flex: 25%;
} 

.ad {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ad img {
    width: 150px;
    height: 600px;
}

img {
    width: 40%;
    border: 10px solid rgb(75,75,75);
    border-radius: 20px;
    display: flex;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 80px;
    color: #F7B99A;
    text-shadow: 5px 6px black;
    
} 

form {
    text-align: center;
}

#inputBar, #searchButton {
    border-radius: 20px;
}

#searchButton:hover {
    background: black;
    color: white;
}